	<section class="todoapp">
    <header class="header">
      <h1>Your Lists</h1>

				<%= form_for(List.new) do |f| %>
					<% if @list.errors[:name].present? %>

							<%= f.text_field :name, :class => "new-todo", :placeholder => "#{@list.errors.full_messages[0]}" || "#{@list.errors.full_messages_for(:name)}"%>


					<% else %>
						<%= f.text_field :name, :class => "new-todo", :placeholder => "Create New List"%>
					<% end %>
					<%= f.submit :style => "display: none" %>
				<% end %>
			</form>
    </header>

    <section class="main">
			<input type="checkbox" class="toggle-all">
			<label for="toggle-all">Mark all as complete</label>

      <ul class="todo-list">
        <% @lists.each do |list| %>
        <li>
          <div class="view">
            <label>><%= link_to list.name, list_path(list) %></label>
          </div>
        </li>
        <% end %>
      </ul

    </section>
    <footer class="footer" style="display: none;">
      <span class="todo-count"><strong>0</strong> items left</span>

      <button class="clear-completed" style="display: none;"></button>
    </footer>
  </section>
